<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <p>Email<inputtype="text" name="email"></p>
  <p>Password<input type="text" name="password"></p>
  <input type="submit" value="Login">
</form>

