<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <p>Name:<input type="text" name="user[name]"></p><br>
  <p>Email:<input type="text" name="user[email]"></p><br>
  <p>Password: <input type="text" name="user[password]"></p><br>
  <input type="submit" value="Sign Up">
</form>


